body {
  display: inline;
}

.card {
  width: 70%;
  margin: 8rem auto 0;
  height: 75vh;
  overflow-x: hidden;
}

.card ul {
  padding: 0;
}

.list-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1rem 0;
  border: 1px solid rgb(224, 152, 84);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  box-sizing: border-box;
}

.list-element div {
  width: 60%;
}

.list-element button {
  background-color: rgb(92, 69, 4);
  margin: 0;
  height: 2.5rem;
  max-width: 10rem;
}